<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find jelly_description)/jelly_urdf/under_snippets/fin_snippets.xacro"/>
  <xacro:include filename="$(find jelly_description)/jelly_urdf/under_snippets/thruster_snippets.xacro"/>
  <xacro:include filename="$(find jelly_description)/jelly_urdf/under_snippets/battery_snippets.xacro"/>
  <xacro:include filename="$(find jelly_description)/jelly_urdf/under_snippets/misc.xacro"/>
</robot>
